name: "Tests"

on:
  push:
    branches:
      - "**"
    tags:
      - "**"

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-22.04, macos-14, windows-2022]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle
        run: ./gradlew test

      - name: Publish Test Report
        if: always() # Ensure this step runs even if the test step fails
        uses: dorny/test-reporter@v2
        with:
          name: Tests Report (${{ matrix.os }})
          path: oniguruma-jni/build/test-results/test/*.xml
          reporter: java-junit